<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid">

    <br>
    <h2><%=article.title%></h2>
    <h6><%=article.updatedAt%></h6>
    <br>
    <p><%=article.description%></p>
    <br>
    <h4><%=article.tags%></h4>
    <br>
    <h4><%=article.likes%></h4>

    <a class="btn btn-success" href="/articles/<%=article.id%>/edit">Edit</a>
    &nbsp;&nbsp;&nbsp;
    <a class="btn btn-danger" href="/articles/<%=article.id%>/delete">Delete</a>


</body>

</html>